	@import url('https://fonts.googleapis.com/css?family=Raleway');
	body {
	  padding-top: 54px;
	  font-family:'Raleway', sans-serif;;
		font-size:12px;
		overflow-x: hidden;
	}
  	 hr {
	 	border: 0; 
		box-shadow: 0 .5px .5px .5px gray;
		height: 0;
		margin-right:35%;
	}
	.title-subrayado {
		border: 0; 
		height: 0; 
		box-shadow: 0 1px 5px 1px gray;
		margin-right:90%;
		margin-bottom:20%;
		width:40px;
	}
	.title-subrayado-2 {
		border: 0; 
		height: 0; 
		box-shadow: 0 1px 5px 1px gray;
		margin-right:90%;
		margin-bottom:10%;
		width:40px;
	}
	.btn-black{
		background:#000000;
		border-radius: 0px;
		color:#FFFFFF;
		padding:10px;
	}
	.btn-default{
		background:#f1f1f1;
		border-radius: 0px;
		margin-left: 2px;
	}
	.navbar-default{
		background:#f1f1f1;
		padding-bottom:35px;
		padding-top:35px;
	}
	.carousel-inner img {
      width: 100%;
		}
	.container-fluid-galeria{
		margin:1% 1.5% 0% 1.5%;
	}
	.galeria{
	  background-size: cover;
	  background-position: center;
		min-height: 300px;
		border:10px solid white;
	}
	.galeria:hover{
	  background-size: cover;
	  background-position: center;
	  min-height: 300px;
	  opacity: 0.2;
      filter: alpha(opacity=20);
	  -webkit-transition: opacity 2s;
      transition: opacity 2s;
	}
	#galeria-1 {	  
	  background-image:url(../imgs/2.jpg);
		padding:70px;
	}
	#galeria-2{
	  background-image:url(../imgs/3.jpg);
	  padding:20px 50px 50px 20px;
	}
	#galeria-3{
	  background-image:url(../imgs/4.jpg);
	  padding:40px 50px 50px 40px;
	}
	#galeria-4{
	  background-image:url(../imgs/5.jpg);
	  padding:100px 50px 50px 300px;
	}
	#galeria-5{
	  background-image:url(../imgs/6.jpg);
	  padding:140px 70px 70px 70px;
	}
	.galeria2{
	  background-size: cover;
	  background-position: center;
		min-height: 300px;
		border:10px solid white;
	}
	.webService{
		border:1px solid #f1f1f1;
		display: block;
		padding: 0px 0px 20px 0px;
	}
	.padding-none{
		padding:0;
	  }
	  .padding1{
		padding:1%;
	  }
	.padding2{
	  padding:2%;
	}
	.padding5{
	  padding:5%;
	}	
	.padding10{
	  padding:10%;
	}		
	.p-margin-none{
		margin:0px;
	}
	.text-transform-capitalize{
		text-transform:capitalize;
	}
	.link-colection{
		color:#FFFFFF;
		padding:8px 16px 8px 0px;
	}
	.link-colection:hover{
		color:#CCCCCC;
	}
	.fondo-footer-top{
		background: #333333;
	}
	.input-group-addon{
		background:#CCCCCC;
		color:#000000;
		font-size:14px;
		padding:10px;
	}
	input[type=text] {
	  border-radius: 0;
	}
	.margin-top-1{
		margin-top:1%;		
	}
	.margin-top-3{
		margin-top:3%;
	}
	.margin-top-9{
		margin-top:9%;
	}
	.margin-top-15{
		margin-top:15%;
	}
	.margin-left-24{
	 	margin-left:24%;
	}
	.font-size-10{
		font-size:10px;
	}
	.btn-carucel{
		border-radius:0px;
		font-size:10px;
		width:80px;
	}
	.btn-carucel-grey{
		background-color:#9B9B9B !important;
	}
	
	div.gallery {
		margin: 50px;
		/*border: 1px solid #ccc;*/
		float: left;
		width: 180px;
	}	
	div.gallery img {
		width: 100%;
		height: auto;
	}
	  	.link-log-company-dark{
		color:#000000;
	}
	.link-log-company-dark:hover{
		color:#000000;
	}
	.link-ofertas-first{
		color:#f1f1f1;
		padding: 8px 5px 8px 0px;
	}
	.link-ofertas-first:hover{
		color:#9b9b9b;
	}
	.link-ofertas{
		color:#f1f1f1;
		padding: 8px 5px; 
	}
	.link-ofertas:hover{
		color:#9b9b9b;
	}
	.sale-carousel{
		font-size:86px; 
		font-weight:bolder;
	}
	.carousel-caption {
		position: absolute;
		right: 50%;
		bottom: 130px;
		left: 10%;
		z-index: 10;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #fff;
		text-align: left;
	}
	.icono-control-carucel{
		background-color:#000000; 
		padding:7px 6px 7px 6px;
	}
	.carousel-indicators li {
		border-radius: 12px;
		width: 12px;
		height: 12px;
		background-color: #FFFFFF;
	}
	.carousel-indicators .active {
		border-radius: 12px;
		width: 12px;
		height: 12px;
		border: 1px solid #FFF;
    	background-color: transparent;
	}
	/*claificaicon estrellas*/
	.ec-stars-wrapper {
		font-size: 0;
		display: inline-block;
	}
	.ec-stars-wrapper a {
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		color: #888;
	}	
	.ec-stars-active  {
		color: #000000 !important;
	}
	.tachado{
		color:#CCCCCC;
		text-decoration:line-through;
	}
	.barrera{
		border-right:1px solid #9B9B9B;
	}
	/*MENU NO BOOSTRAP*/
	.bg-light{
		background-color: #fff !important;
	}
	#navi li:hover{
		border-bottom:3px solid #9B9B9B;
	}
	#navbarDropdownCart{
		background-color: #f1f1f1;
		margin:0px !important;
	}
	#navbarDropdownCart:hover{
		border-bottom:0px !important;
	}
  	#navi {  
		list-style:none;
		margin:0;
		padding:0px;
	}
	#navi li {
		color:#000000;
		font-size:18px;
		margin:2px;
		padding:5px;
		float:left;
	}
	#navi li a {
		color:#000000;
		text-decoration:none;
	}
	#navi li:hover {
		border-bottom:3px solid #9B9B9B;
	}
	.active-menu-tres{
		border-bottom:3px solid #9B9B9B;
	}
	.item-left{
		float:left; 
		margin-left:70%; 
		margin-top:-4.5%;
		display:bolck;
	}
	.porcentaje{
		margin: 10px 0px 0px 10px; 
		padding:12px; color:#fff; 
		background:#000; 
		width: 40px; 
		height: 40px; 
		border-radius:50%;
		opacity: 0.7; 
		font-size:10px;
	}
	.addToCart{
		font-size:15px; 
		display:none;

	}
	.addToCart{
		color: #fff;
		font-weight: bolder;
	}
	.addToCartVista{
		display:block;
		color:#000;
		cursor: pointer;
		-webkit-transition: color 1s;
      transition: color 1s;
	}
	/*CLIENTES*/
	.padding-carousel{
		padding: 0 40px 30px 40px;
	}
	/*.carousel {
		margin-bottom: 0;
		padding: 0 40px 30px 40px;
	}
	/*.carousel-control {
		left: -12px;
	}
	.carousel-control.right {
		right: -12px;
	}
	.carousel-indicators {
		right: 50%;
		top: auto;
		bottom: 0px;
		margin-right: -19px;
	}
	.carousel-indicators li {
		background: #c0c0c0;
	}
	.carousel-indicators .active {
	background: #333333;
	}*/
	/*SEPARADOR*/
	.separadorCorto{
		border:1px solid rgb(0, 0, 0); 
		margin: 5px 4%; 
		width: 5%;
	}
	.separadorLargo{
		border:1px solid #000; 
		width: 20%;
	}
	/*BOTON COLAPSAR LIGERO*/
	.colapsar-ligero{
		border:1px solid #6c757d;;
		margin-top: 1%;
		padding: 5px 15px;
	}
	.fa .fa-bars{
		font-weight: lighter !important;
	}
	.fa-bars{
		color: #6c757d;
		font-size: 25px;
	}
	/*NOTIFICACION*/
	.badge-notificacion{
		position: relative;
	}
	.badge-notificacion:hover{
		background-color: #000;
		color: #fff;
	}
	.badge-notificacion::after{
		content: attr(data-count-notificacion);
		position: absolute;
		border: 2px solid #000;
		top: -13px;
		right: 1;
		background-color:#FFF;
		padding: 3px 7px;
		font-size: 10px;
		color: #000;
		border-radius: 5px;
		z-index: 1;
	}
	.dropdown-toggle2::after {
		margin-left: 100%;
		margin-top:-15%;
	}
	.font-size-30{
		font-size:30px
	}
	.dropdown-menu{
		background-color: #f1f1f1;
		border-radius: 0%;
		margin: 0px;
		border: 0px;
	}
	.boton-todas-categorias{
		background:white;
	}
	.input-Search{
		border:0px;;
	}
	.brands-fondo{
		background-color: #f8f9fa!important;
	}